/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* DEBUG */


.container {
    max-width: 1170px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.row {
    padding: -1rem;
}

.col {
    padding: -1rem;
}

/* HEADER */


header {
    height: 80px;
    background-color: #0084fd;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}


header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SECTION-1 */

#demo {
    background-color: white;
}

#demo .col {
    width: 100%;
    border: 2px dashed red;
    min-height: 50px;
}

#demo .col:first-child {
    width: 100%;
    border: 2px dashed red;
    min-height: 100px;
}


/* SECTION-2 */

#planning {
    background-color: #9593e6;
}

#planning .card {
    background-color: white;
    border: 1px solid black;
    min-height: 300px;
    border-radius: 15px;
}


/* SECTION-3 */

.text-center {
    text-align: center;
}

#testimonials .col {
    width: 100%;
    border: 2px dashed red;
    min-height: 100px;
}

#testimonials .card {
    background-color: #9593e6;
    text-align: center;
    border-radius: 30px;
    /* min-height: 500px; */
    margin-bottom: 30px;
    color: white;
}

#testimonials img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#testimonials p {
    margin: 60px 0;
}


/* SECTION-4 */

#benefits .container {
    background-color: #9593e6;
}


#benefits .center {
    text-align: center;
    font-size: 35px;
}

#benefits .col {
    width: 100%;
    border: 2px dashed red;
}

#benefits .card {
    background-color: white;
    color: #9593e6;
    padding: 1.5rem;
    margin-bottom: 20px;
    border-radius: 25px;

}

#benefits 
h1,
h2 {
    font-size: 35px;
    margin: 15px 0;
}

#benefits p {
    font-size: 20px;
    line-height: 45px;
    margin: 15px 0;
}

#benefits button {
   font-size: 20px;
   padding: 0.5rem 2rem; 
   background-color: #9593e6;
   color: white;
   border-radius: 30px;
}


/* SECTION-5 */

#about .container {
    background-color: white;
    color: #9593e6;
}

#about h1 {
    font-size: 35px;
}

#about p {
    color: black;
}

#about
h1,
p {
    line-height: 35px;
    margin: 15px 0;
    padding: 1rem;
}

#about img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#about .card {
    padding: 1rem;
}

#about button {
    padding: 0 1rem;
    border-radius: 10px;
    background-color: #9593e6;
    color: white;
}

/* RESPONSIVE */


/* TEBLET */

@media screen and (min-width: 576px) {

    /* SECTION-1 */

    #demo .row {
        display: flex;
        flex-wrap: wrap;
    }

    #demo .col:first-child {
        width: calc(100% / 3 * 2);
        min-height: 100px;
    }

    #demo .col {
        width: calc(100% / 3);
        min-height: 100px;
    }

    /* SECTION-3 */
     
    #testimonials .card {
        display: flex;
        text-align: left;
    }

   /* SECTION-4 */

   #benefits .row {
    display: flex;
    flex-wrap: wrap;
   }

   #benefits .col {
    width: 50%
   }

   #benefits .card {
    margin: 1rem;
   }

   /* SECTION-5 */

   #about .row {
    display: flex;
   }

   #about .card {
    height: 50%;
   }

   #about h2 {
    font-size: 30px;
   }
}



/* MONITOR */

@media screen and (min-width: 992px) {
    
    #planning .container {
        padding: 3rem;
    }
    
    
    #planning .row {
        display: flex;
        align-items: flex-end;

    }

    #planning .col {
        padding: 1rem;        
    }

    #planning .card {
        width: 70%;
        padding: 1rem;
    }

    /* SECTION-4 */

    #benefits .col {
        width: calc(100% / 3);
    }
    
}


